extends ../layouts/default
block content
    header
      include ../views/navbar
      include ../views/menu
     section
      #inner-banner
      #inner-content-box#content-box
        .container
          #offerings
            .col-md-9.text-right
              ul.list-inline
                li
                  a(href="#",onclick="printFunction()")
                    i.fa.fa-lg.fa-print
                li
                  a#pdf
                    i.fa.fa-lg.fa-file-pdf-o
                li
                  a(href="#")
                    i.fa.fa-lg.fa-envelope
            .col-md-9#content-data
              h2 #{data.healthcareinsurers[0].heading}
              .row
                .col-md-4
                  if data.healthcareinsurers.length
                        img(id="image",src=data.healthcareinsurers[0]._.image.limit(640,640))
                .col-md-8
                    p
                      | #{data.healthcareinsurers[0].longText}
                      br
                      | #{data.healthcareinsurers[0].longString} 
            include ../views/footermenunavigation
      .container-fluid
        .row
          footer
            include ../views/footer