.col-md-3
  .offer-listing
    ul
      li
        a(href="/analyticalportal")
          i.fa.fa-chevron-right
          | #{data.whatweoffersnavigations[0].analyticsportal}
      li
        a(href="/tibcospotfire")
          i.fa.fa-chevron-right
          | #{data.whatweoffersnavigations[0].tibcospotfiremanaged}
      li
        a(href="/marketresearch")
          i.fa.fa-chevron-right
          | #{data.whatweoffersnavigations[0].marketresearch}
      li
        a(href="/tibcospotfirecustom")
          i.fa.fa-chevron-right
          | #{data.whatweoffersnavigations[0].tibcospotfirecustom}